<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.springsource.ide.eclipse.commons.dashboard.browser.customization" name="Dashboard Browser Customization" schema="schema/org.springsource.ide.eclipse.commons.dashboard.browser.customization.exsd"/>
 
 <!-- New dashboard -->
 
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.DashboardEditor"
			icon="resources/icons/spring.png"
			id="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.DashboardEditor"
			name="Dashboard">
		</editor>
	</extension>
 
 <!-- Sample: shows how to use the extension point. Don't turn on for real
 <extension
       point="org.springsource.ide.eclipse.commons.dashboard.browser.customization">
    <customization
          class="org.springsource.ide.eclipse.commons.gettingstarted.browser.sample.SampleBrowserCustomization">
    </customization>
 </extension>
 --> 
 
  <!-- Preference page
 
   Disabled for now. Nothing interesting on this page anymore. 
   The urls for dash webpages are now better added as links on the landing page.
 
    <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.springsource.ide.eclipse.gettingstarted.preferences.GettingStartedPreferencesPage"
	        class="org.springsource.ide.eclipse.commons.gettingstarted.preferences.GettingStartedPreferencesPage"
            category="org.springsource.ide.eclipse.commons.preferencePage"
            name="Dashboard (New)">
       </page>
    </extension>
  
   --> 
 
</plugin>
