<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.WelcomeDashboard"
			icon="$nl$/icons/spring.png"
			id="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.WelcomeDashboard"
			name="Dashboard">
		</editor>
		<editor
			class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.ExtensionsEditor"
			icon="$nl$/icons/spring_ext.png"
			id="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.ExtensionsEditor"
			name="Spring Extensions">
		</editor>
	</extension> 
	<extension
          point="org.springsource.ide.browser.function.browserToEclipse">
       <function
             class="org.springsource.ide.eclipse.commons.browser.swt.OpenStsBrowserFunction"
             id="openWebPage"
             urlExpression=".*\.html">
       </function>
       <function
             class="org.springsource.ide.eclipse.commons.browser.OpenEditorFunction"
             id="openEditor"
             urlExpression=".*\.html">
       </function>
       <function
             class="org.springsource.ide.eclipse.commons.browser.OpenWizardFunction"
             id="openWizard"
             urlExpression=".*\.html">
       </function>
    </extension>
     <extension
           point="org.springsource.ide.browser.function.eclipseToBrowser">
        <provider
              class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.ProjectWizardProvider"
              functionName="addHtml"
              invokeOnLoad="true"
              urlExpression=".*org\.springsource\.ide\.eclipse\.commons\.gettingstarted.*/index.html">
           <argument
                 dynamic="false"
                 id="divId"
                 literal="projectWizards">
           </argument>
           <argument
                 dynamic="true"
                 id="html">
           </argument>
        </provider>
        <provider
              class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.UpdatesProvider"
              functionName="addHtml"
              invokeOnLoad="true"
              urlExpression=".*org\.springsource\.ide\.eclipse\.commons\.gettingstarted.*/index.html">
           <argument
                 dynamic="false"
                 id="divId"
                 literal="updates">
           </argument>
           <argument
                 dynamic="true"
                 id="html">
           </argument>
        </provider>
        <provider
              class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.BlogsProvider"
              functionName="addHtml"
              invokeOnLoad="true"
              urlExpression=".*org\.springsource\.ide\.eclipse\.commons\.gettingstarted.*/index.html">
           <argument
                 dynamic="false"
                 id="divId"
                 literal="feeds">
           </argument>
           <argument
                 dynamic="true"
                 id="html">
           </argument>
        </provider>
     </extension>
	
 </plugin>
