<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.springsource.ide.eclipse.commons.dashboard.browser.customization" name="Dashboard Browser Customization" schema="schema/org.springsource.ide.eclipse.commons.dashboard.browser.customization.exsd"/>
   <extension-point id="org.springsource.ide.common.dashboard.browser.function" name="Dahboard Browser Function" schema="schema/org.springsource.ide.common.dashboard.browser.function.exsd"/>
 
 <!-- New dashboard -->
 
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.springsource.ide.eclipse.commons.javafx.browser.JavaFxBrowser"
			icon="resources/icons/spring_browser.png"
			id="org.springsource.ide.eclipse.commons.javafx.browser.JavaFxBrowser"
			name="Browser">
		</editor>
		<editor
			class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.WelcomeDashboard"
			icon="resources/icons/spring.png"
			id="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.WelcomeDashboard"
			name="Dashboard">
		</editor>
		<editor
			class="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.ExtensionsEditor"
			icon="resources/icons/spring_ext.png"
			id="org.springsource.ide.eclipse.commons.gettingstarted.dashboard.ExtensionsEditor"
			name="Spring Extensions">
		</editor>
	</extension>
 </plugin>
