<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Quick Search Category"
            id="org.springsource.ide.eclipse.quicksearch.commands.category">
      </category>
      <command
            name="Quick Search Command"
            categoryId="org.springsource.ide.eclipse.quicksearch.commands.category"
            id="org.springsource.ide.eclipse.quicksearch.commands.quicksearchCommand">
      </command>
   </extension>

   <!-- it seems that using the new and recommended way of contributing entries to existing menus
        doesn't work for the search menu.
        So we have to use the old mechanism using actionSets 
        See here http://stackoverflow.com/questions/7113380/how-to-extend-the-source-menu-in-eclipse-or-what-is-its-locationuri
        -->

   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            label="Quick Search ActionSet"
            visible="true"
            id="org.springsource.ide.eclipse.quicksearch.actionSet">
            
            
	 	<!-- =================================================================== -->
		<!-- Search Menu                                                         -->
		<!-- =================================================================== -->
		
		<!-- weirdly, it seems we have to copy this code here because otherwise we
		  sometimes get an error that the menu does not exist. Presumably this
		  is because somehow our extensions are getting initialized before the
		  extensions in other plugins that define the menu -->
	  	<menu
	        id="org.eclipse.search.menu"
	        label="%searchMenu.label"
	        path="navigate">
			<groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
			<groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
			<separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
	     	<separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
	     	<separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
	     	<separator name="extraSearchGroup"/> <!-- to be used by clients -->
	  	</menu>
            
         <action
               id="org.springsource.ide.eclipse.quicksearch.commands.quicksearchAction"
               class="org.springsource.ide.eclipse.commons.quicksearch.ui.QuickSearchAction"
               definitionId="org.springsource.ide.eclipse.quicksearch.commands.quicksearchCommand"
               label="Quick Search"
               menubarPath="org.eclipse.search.menu/extraSearchGroup"
               tooltip="Search for Text pattern in the workspace">
         </action>
      </actionSet>
   </extension>
   
<!-- This doesn't work unfortunately...
  <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:org.eclipse.search.menu?after=extraSearchGroup">
        <command commandId="org.springsource.ide.eclipse.quicksearch.commands.quicksearchCommand"
                 label="Quick Search"
                 mnemonic="Q">
        </command>
     </menuContribution>
   </extension>  -->
   
   <!-- Allthough we have an action defined, it seems the action isn't always working. So for good measure
       also define a handler -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.springsource.ide.eclipse.quicksearch.commands.quicksearchCommand"
            class="org.springsource.ide.eclipse.commons.quicksearch.ui.QuickSearchHandler">
      </handler>
   </extension>
   
<!-- Define keybinding -->   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.springsource.ide.eclipse.quicksearch.commands.quicksearchCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
<!--	<extension point="org.eclipse.ui.actionSets">
	  <actionSet label="Quick Search Action Set"
	             description="Action set containing the Quick Search Action"
	             visible="false"
	             id="org.springsource.ide.eclipse.commons.quicksearch.actionSet">
	    <action class="org.springsource.ide.eclipse.commons.quicksearch.ui.QuickSearchAction"
         	    definitionId="org.springsource.ide.eclipse.quicksearch.commands.sampleCommand"
	            id="org.springsource.ide.eclipse.commons.quicksearch.ui.QuickSearchAction"
	            label="Quick Search"
         	    style="push" 
	            menubarPath="org.eclipse.search.menu/textSearchSubMenu/group2">
	    </action>
	  </actionSet>
	</extension> -->
<!--   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Quick Search"
               mnemonic="S"
               id="org.springsource.ide.eclipse.quicksearch.menus.sampleMenu">
            <command
                  commandId="org.springsource.ide.eclipse.quicksearch.commands.sampleCommand"
                  mnemonic="S"
                  id="org.springsource.ide.eclipse.quicksearch.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution> -->
<!--      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.springsource.ide.eclipse.quicksearch.toolbars.sampleToolbar">
            <command
                  commandId="org.springsource.ide.eclipse.quicksearch.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="org.springsource.ide.eclipse.quicksearch.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution> 
   </extension> -->


<extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.springsource.ide.eclipse.commons.quicksearch.PreferencesPage"
	        class="org.springsource.ide.eclipse.commons.quicksearch.ui.QuickSearchPreferencesPage"
            name="Quick Search">
       </page>
</extension>

</plugin>
