<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="com.springsource.sts.ide.ui.startup" name="STS Startup"
		schema="schema/startup.exsd" />

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.springsource.ide.eclipse.commons.ui.CommonsPreferencePage"
            id="org.springsource.ide.eclipse.commons.preferencePage"
            name="SpringSource">
      </page>
   </extension>
   <extension
         name="SpringSource Startup Reader"
         point="org.eclipse.ui.startup">
      <startup
            class="org.springsource.ide.eclipse.commons.internal.ui.StartupExtensionPointReader"></startup>
   </extension>

</plugin>
