<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="com.springsource.sts.ide.ui.startup" name="STS Startup"
		schema="schema/startup.exsd" />

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.springsource.ide.eclipse.commons.ui.CommonsPreferencePage"
            id="org.springsource.ide.eclipse.commons.preferencePage"
            name="Spring">
         <keywordReference
               id="org.springsource.ide.eclipse.commons.ui.tips.keyword">
         </keywordReference>
      </page>
      <page
            category="org.springsource.ide.eclipse.commons.preferencePage"
            class="org.springsource.ide.eclipse.commons.ui.PreferencesCurator"
            id="org.springsource.ide.eclipse.commons.curatorPreferencesPage"
            name="Global Preferences Curator">
         <keywordReference
               id="org.springsource.ide.eclipse.commons.ui.global_prefs.keyword">
         </keywordReference>
      </page>
   </extension>
   <extension
         name="SpringSource Startup Reader"
         point="org.eclipse.ui.startup">
      <startup
            class="org.springsource.ide.eclipse.commons.internal.ui.StartupExtensionPointReader"></startup>
   </extension>

	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<public 
				publicId="-//LOG4J//DTD LOG4J//EN"
				uri="platform:/plugin/org.springsource.ide.eclipse.commons.ui/dtd/log4j-1.2.dtd"
				webURL="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" />
			<public 
				publicId="-//APACHE//DTD LOG4J 1.2//EN"
				uri="platform:/plugin/org.springsource.ide.eclipse.commons.ui/dtd/log4j-1.2.dtd"
				webURL="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" />
		</catalogContribution>
	</extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="org.springsource.ide.eclipse.commons.ui.tips.keyword"
          label="tip tips spring tool">
    </keyword>
    <keyword
          id="org.springsource.ide.eclipse.commons.ui.global_prefs.keyword"
          label="global curator preferences curated spring tool">
    </keyword>
 </extension>
 
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          description="Launch"
          id="org.springsource.ide.eclipse.commons.launch.actionSet"
          label="Launch"
          visible="true">
       <action
             allowLabelUpdate="true"
             class="org.springsource.ide.eclipse.commons.ui.launch.RelaunchProcessPullDownToolbarDelegate"
             disabledIcon="icons/launch/term_restart_disabled.gif"
             icon="icons/launch/term_restart.gif"
             id="org.springsource.ide.eclipse.commons.launch.relaunch.action"
             label="Relaunch"
             style="pulldown"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
       <action
             allowLabelUpdate="true"
             class="org.springsource.ide.eclipse.commons.ui.launch.StopProcessPullDownToolbarDelegate"
             disabledIcon="icons/launch/stop_disabled.gif"
             icon="icons/launch/stop.gif"
             id="org.springsource.ide.eclipse.commons.launch.relaunch.action"
             label="Terminate"
             style="pulldown"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
    </actionSet>
 </extension>
 
</plugin>
