<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="com.springsource.sts.ide.ui.startup" name="STS Startup"
		schema="schema/startup.exsd" />

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.springsource.ide.eclipse.commons.ui.CommonsPreferencePage"
            id="org.springsource.ide.eclipse.commons.preferencePage"
            name="SpringSource">
      </page>
   </extension>
   <extension
         name="SpringSource Startup Reader"
         point="org.eclipse.ui.startup">
      <startup
            class="org.springsource.ide.eclipse.commons.internal.ui.StartupExtensionPointReader"></startup>
   </extension>

	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<public 
				publicId="-//LOG4J//DTD LOG4J//EN"
				uri="platform:/plugin/org.springsource.ide.eclipse.commons.ui/dtd/log4j-1.2.dtd"
				webURL="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" />
			<public 
				publicId="-//APACHE//DTD LOG4J 1.2//EN"
				uri="platform:/plugin/org.springsource.ide.eclipse.commons.ui/dtd/log4j-1.2.dtd"
				webURL="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" />
		</catalogContribution>
	</extension>

</plugin>
