<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.springsource.ide.browser.function.browserToEclipse" name="Browser to Eclipse Function Call" schema="schema/org.springsource.ide.browser.function.browserToEclipse.exsd"/>
   <extension-point id="org.springsource.ide.browser.function.eclipseToBrowser" name="Eclipse to Browser Function Call" schema="schema/org.springsource.ide.browser.function.eclipseToBrowser.exsd"/>
 
 <!-- New dashboard -->
 
	<extension point="org.eclipse.ui.editors">
		<editor
			class="org.springsource.ide.eclipse.commons.browser.swt.StsBrowserEditor"
			icon="icons/spring_browser.png"
			id="org.springsource.ide.eclipse.commons.browser.Editor"
			name="Browser">
		</editor>
	</extension>
     <extension
           point="org.eclipse.ui.views">
        <view
              allowMultiple="true"
              category="org.springframework.ide.eclipse.ui.views"
              class="org.springsource.ide.eclipse.commons.browser.swt.StsBrowserView"
              icon="icons/spring_browser.png"
              id="org.springsource.ide.eclipse.commons.browser.View"
              name="Browser View"
              restorable="true">
        </view>
     </extension>
	    <extension
          point="org.springsource.ide.browser.function.browserToEclipse">
       <function
             class="org.springsource.ide.eclipse.commons.browser.swt.OpenStsBrowserFunction"
             id="openWebPage"
             urlExpression=".*\.html">
       </function>
       <function
             class="org.springsource.ide.eclipse.commons.browser.OpenEditorFunction"
             id="openEditor"
             urlExpression=".*\.html">
       </function>
       <function
             class="org.springsource.ide.eclipse.commons.browser.OpenWizardFunction"
             id="openWizard"
             urlExpression=".*\.html">
       </function>
    </extension>
 </plugin>
