.pad-extra {
	padding-bottom: 0px;
}

.blog--title,.blog--post,.blog--post p,.blog--container,.blog--container div,.blog--preview,.blog--preview div,.author div {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.blog--container.blog-preview .blog--post p {
	margin-bottom: 0px;
}

.blog--container .blog--post p {
	margin-bottom: 0px;
}

.blog--title a {
	font-size: 14px;	
	line-height: 15px;
}

.blog--post p {
	font-size: 11px;
}

.author {
	font-size: 12px;	
}
