<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.springsource.sts.core.resources">
      <url
            id="dashboard.bug.tracker"
            value="https://my.bug.tracker">
      </url>
      <url
            id="my.key"
            value="my.value">
      </url>
   </extension>
   <extension
         point="com.springsource.sts.ide.configurator.participant">
      <installableItem
            configurator="com.springsource.sts.ide.tests.participant"
            id="com.springsource.sts.ide.tests.runtime">
         <copy
               source="testdata/runtime"
               target="${package}-${version}">
            copy body text
         </copy>
         <chmod
               file="${package}-${version}/bin/executable"
               mode="755">
            chmod body text
         </chmod>
      </installableItem>
      <installableItem
            configurator="com.springsource.sts.ide.tests.participant">
         <copy
               source="testdata/runtime">
         </copy>
      </installableItem>
   </extension>
   <extension
         point="com.springsource.sts.ide.configurator.participant">
      <participant
            class="org.springsource.ide.eclipse.commons.internal.configurator.TestConfiguratorParticipant"
            id="com.springsource.sts.ide.tests.participant"
            label="Test">
      </participant>
   </extension>

</plugin>
