body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(62, 144, 64)),
		to(rgb(158, 193, 72))) no-repeat;
}

#content {
	background: url('logo_bigleaf.png') no-repeat;
	display: table;
}

#bottom {
	height: 100px;
}

.pane {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.3);
	background-color: rgba(1, 1, 1, 0.1);
	margin: 10px;
	height: 600px;
}

.paneTitle {
	font-size: 12px;
	padding: 5px 10px;
	margin: 0px;
	background-color: rgba(1, 1, 1, 0.2);
}

#top {
	background: url('logo_sts.png') no-repeat;
	height: 100px;
}

#bottom-left {
	z-index: 10;
	width: 90%;
}

#bottom-right {
	float: right;
	z-index: 10;
	width: 150px;
	justify-content: flex-end;
}

* {
	color: #FFFFFF;
}

.largefont {
	font-size: 16px;
}

div .links {
	display: table-cell;
	padding: 0px;
}

div .rssFeed {
	display: table-cell;
}

div .linksBody {
	
}

div #rssBody {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 580px;
}

.rssAuthor {
	font-size: 10px;
}

.rssDate {
	font-size: 10px;
}

.rssText {
	font-size: 9px;
}

li .links {
	list-style-type: none;
}

.button {
	list-style-type: none;
	vertical-align: top;
	padding-bottom: 10px;
}

article {
	padding: 10px 0px 0px 20px;
}

article h1 {
	font-size: 11px;
}

a {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	border: none;
}