body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(62, 144, 64)),
		to(rgb(158, 193, 72)));
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	box-orient: vertical;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
}

#content {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.pane {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.3);
	background-color: rgba(1, 1, 1, 0.1);
	margin: 10px;
	height: 70%;
}

.paneBody {
	padding: 0px 0px;
}

.paneTitle {
	font-size: 12px;
	padding: 5px 10px;
	margin: 0px;
	background-color: rgba(1, 1, 1, 0.2);
}

#top {
	background: url('logo_sts.png') no-repeat;
	height: 100px;
}

#bottom {
	height: 100px;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#bottom-left {
	background: url('copyright.png') no-repeat;
	z-index: 10;
	width: 100%;
}

#bottom-right {
	background: url('logo_spring.png') no-repeat;
	z-index: 10;
	width: 150px;
}

* {
	color: #FFFFFF;
}

#content {
	width: 100%;
	height: 100%;
	background: url('logo_bigleaf.png') no-repeat;
	overflow: hidden;
}

.largefont {
	font-size: 16px;
}

div .links {
	width: 300px;
	padding: 0px;
}

div .linksBody {
	height: 100%;
}

div .rssFeed {
	width: 100%;
}

div #rssHolder {
	
}

div #rssBody {
	height: 100%;
	overflow: auto;
}

.rssAuthor {
	font-size: 10px;
}

.rssDate {
	font-size: 10px;
}

.rssText {
	font-size: 9px;
}

li .links {
	list-style-type: none;
}

.button {
	list-style-type: none;
	vertical-align: top;
	padding-bottom: 10px;
}

article {
	padding: 10px 0px 0px 20px;
}

article h1 {
	font-size: 11px;
}

a {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	border: none;
}