<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.springsource.ide.eclipse.commons.recommenders.ConstrainedTypeSessionProcessor"
            description="Constrains completion proposals by expected type"
            enabledByDefault="true"
            icon="platform:/plugin/org.springsource.ide.eclipse.commons.ui/icons/view16/springide.png"
            id="org.springsource.ide.eclipse.commons.recommenders.processor"
            name="Constrained Type Completion Proposals">
      </processor>
   </extension>

</plugin>
