<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="com.springsource.sts.ide.configurator.participant" name="STS Workspace Configurator"
		schema="schema/participant.exsd" />
	<extension-point id="com.springsource.sts.ide.configurator.serverConfigurations" name="STS Server Configurations"
		schema="schema/serverConfigurations.exsd" />
	
	<extension point="com.springsource.sts.ide.ui.startup">
		<startup
			class="org.springsource.ide.eclipse.commons.internal.configurator.ConfiguratorImporter">
		</startup>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.springframework.ide.eclipse.ui.preferencePage"
			class="org.springsource.ide.eclipse.commons.internal.configurator.ui.ConfiguratorPreferencesPage"
			id="com.springsource.sts.ide.ui.preferencePage.AutoConfiguration" name="Auto Configuration">
		</page>
	</extension>
	
	<!--
	<extension point="org.eclipse.equinox.p2.engine.actions">
		<action
			class="com.springsource.sts.ide.internal.configurator.touchpoint.ConfiguratorAction_e_3_5"
			description="configure(target)"
			name="com.springsource.sts.ide.configure" 
			touchpointType="org.eclipse.equinox.p2.native"
			touchpointVersion="1.0.0"
			version="1.0.0">
		</action>
	</extension>
 <extension
       point="org.eclipse.equinox.p2.engine.actions">
    <action
          class="com.springsource.sts.ide.internal.configurator.touchpoint.ConfiguratorAction_e_3_6"
          description="configure(target)"
          name="com.springsource.sts.ide.configure"
          touchpointType="org.eclipse.equinox.p2.native"
          touchpointVersion="1.0.0"
          version="1.0.0">
    </action>
 </extension>
	-->
	<extension
          point="com.springsource.sts.ide.configurator.participant">
       <participant
             class="org.springsource.ide.eclipse.commons.internal.configurator.server.ServerWorkspaceConfigurator"
             id="com.springsource.sts.ide.configurator.ServerConfigurator">
       </participant>
    </extension>

 	<extension
       point="com.springsource.sts.core.resources">
      <propertyDefinition
            id="download.dm.server.1"
            defaultValue="http://dist.springsource.com/release/DMS/springsource-dm-server-1.0.2.SR02.zip">
      </propertyDefinition>
      <propertyDefinition
            id="download.dm.server.2"
            defaultValue="http://dist.springframework.org/release/DMS/springsource-dm-server-2.0.0.RELEASE.zip">
      </propertyDefinition>
      <propertyDefinition
            id="download.tomcat.6"
            defaultValue="http://www.apache.org/dist/tomcat/tomcat-6/v6.0.26/bin/apache-tomcat-6.0.26.zip">
      </propertyDefinition>
 	</extension>
	
	<extension
        point="com.springsource.sts.ide.ui.configurator">
     	<configurator
           class="org.springsource.ide.eclipse.commons.internal.configurator.ConfiguratorImporter">
     	</configurator>
 	</extension>
 	
 	<extension
       point="org.eclipse.core.runtime.preferences">
    	<initializer
          class="org.springsource.ide.eclipse.commons.internal.configurator.PreferenceInitializer">
    	</initializer>
 	</extension>
  
</plugin>
