<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.springsource.sts.core.resources">
      <propertyDefinition
            id="content.descriptors"
            defaultValue="http://dist.springsource.com/release/STS/help/descriptors.xml">
      </propertyDefinition>
   </extension>
</plugin>
